<style>
  .featured_unicorn {
  }
  .featured_unicorn h2 {
    color: var(--Stormy, #323334);
    text-align: center;
    font-family: 'Fraunces 72pt';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 116.667% */
    letter-spacing: -0.72px;
    padding: 24px;
    margin: 0;
  }
  .featured_unicorn .inner_featured_unicorn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  .unicorn_image img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .unicorn_bottom {
    display: flex;
    justify-content: space-between;
  }
  .unicorn_bottom span {
    display: flex;
    align-items: center;
  }
  .featured_unicorn h3 {
    text-align: center;
  }
  .content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
  }

  .close {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 24px;
  }
  .popup_image {
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .popup_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
  }
  .popup{
    padding: 5px 10px;
    background-color: rgb(11, 54, 11);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 24px;
    margin: 60px auto;
  }
  @media screen and (max-width: 991px) {
    .featured_unicorn .inner_featured_unicorn {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
</style>
<section class="featured_unicorn">
  <h3>Newerrr</h3>

  <div class="container">
    {% if section.settings.headline != blank %}
      <h2>{{ section.settings.headline }}</h2>
    {% endif %}
    <div class="inner_featured_unicorn">
      {% for block in section.blocks %}
        <div class="unicorn">
          <div class="unicorn_image">
            {% if block.settings.image != blank %}
              {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy' }}
            {% endif %}
          </div>
          <div class="unicorn_bottom">
            {% if block.settings.title != blank %}
              <h4>{{ block.settings.title }}</h4>
            {% endif %}
            {% if block.settings.price != blank %}
              <span>{{ block.settings.price }}</span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <h3>hellooo</h3>
  {% if section.settings.popup_btn != blank %}
    <button class="popup">{{ section.settings.popup_btn }}</button>
  {% endif %}

  <div class="content">
    <div class="popup-content">
      <div class="popup_image">
        {% if section.settings.popup_image != blank %}
          {{
            section.settings.popup_image
            | image_url: width: section.settings.image.width
            | image_tag: loading: 'lazy'
          }}
        {% endif %}
      </div>
      {% if section.settings.popup_heading != blank %}
        <h2>{{ section.settings.popup_heading }}</h2>
      {% endif %}
      {% if section.settings.popup_text != blank %}
        <p>{{ section.settings.popup_text }}</p>
      {% endif %}
      <button class="close">Close<i class="fa fa-close"></i></button>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var popup = document.querySelector('.popup');
    var close = document.querySelector('.close');
    var content = document.querySelector('.content');

    popup.addEventListener('click', () => {
      content.style.display = 'flex';
    });
    close.addEventListener('click', () => {
      content.style.display = 'none';
    });
  });
</script>
{% schema %}
{
  "name": "Test",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "headline",
      "default": "Featured Unicorn Listings"
    },
    {
      "type": "text",
      "id": "popup_btn",
      "label": "heading",
            "default": "20% Off"
    },
    {
      "type": "image_picker",
      "id": "popup_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "popup_heading",
      "label": "heading",
        "default": "WeLLCOME"
    },
    {
      "type": "text",
      "id": "popup_text",
      "label": "text",
        "default": "Click the button below to close."
    },
  ],
  "blocks": [
    {
      "type": "block",
      "name": "block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },

        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "NATIVE IRON CHAIR"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price",
          "default": "$4,990"
        }
      ]
    }
  ],
  "presets": [{ "name": "Test" }]
}
{% endschema %}
